* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  --description-text: grey;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 50px;
  padding: 0 50px;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

.title h2 {
  font-size: 30px;
}

/* HEADER NAV START */
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

ul li {
  display: inline-block;
  justify-content: space-around;
  text-align: center;
}

li {
  list-style-type: none;
  padding: 25px;
}

ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.logo a img {
  width: auto;
  height: 100px;
}

/* HEADER NAV END */

/* PROFILE START */
#home {
  width: auto;
  padding: 6% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: content-box;
}

.profile-photo img {
  width: 350px;
  border-radius: 25% 35% 25% 45%;
}

.name p {
  color: var(--description-text);
}

.name span {
  color: crimson;
}
/* PROFILE END*/

/* ABOUT ME START */

#about {
  width: auto;
  padding: 6% 0;
}

.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: content-box;
}

.about-myself {
  width: 50%;
  text-align: left;
}

.card-achieve {
  height: 100px;
  width: 100px;
  display: inline-flex;
  margin: 50px 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid grey;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.card-achieve img {
  margin: auto;
  display: flex;
  justify-content: center;
}

a button {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

button {
  margin: 20px 10px;
  padding: 15px 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  background-color: black;
}

button:hover {
  background-color: #929292;
}

button:active {
  background-color: white;
  color: black;
}
/* ABOUT ME END */

/* SKILLS START*/
#skills {
  padding: 6% 0;
  margin-bottom: 20%;
}

.card-container-skills {
  display: flex;
  justify-content: space-between;
  width: auto;
  box-sizing: border-box;
}

.card-skills {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  width: 150px;
  text-align: center;
  margin: 25px;
  padding: 10px;
  box-sizing: border-box;
}

.card-skills small {
  color: var(--description-text);
}
.card-icon {
  font-size: 80px;
}

/* SKILLS END*/

/* EDUCATION START */
#education {
  padding: 6% 0;
  text-align: center;
}

.logo-institusion {
  width: 80px;
  margin: 20px;
}

.experience {
  margin: 2% auto;
  padding: 20px;
  width: 50%;
  border: 1px solid grey;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.description-experience {
  display: inline;
  justify-content: center;
}
/* EDUCATION END */

/* JOB EXPERIENCE START */

#job-experience {
  padding: 6% 0;
  text-align: center;
}

.container-experience {
  display: flex;
  flex-wrap: wrap;
}

.container-experience .experience {
  width: 45%;
}

.logo-phincon {
  width: 170px;
  margin: 20px;
}

.logo-jiale {
  width: 80px;
  margin: 20px;
}

.logo-kktektel {
  width: 250px;
  margin: 20px;
}

.logo-star {
  width: 180px;
  margin: 20px;
}
/* JOB EXPERIENCE END */

/* CONTACT START */
#contact {
  padding: 6% 0;
  text-align: center;
}

.contact-container {
  display: flex;
  margin: 0 20px;
}

.contact-link-container {
  width: 50%;
  height: auto;
}

.contacts {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts .my-contact {
  margin: 25px;
}

.contact-link-container .my-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  border: 1px solid grey;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-sizing: content-box;
}

.my-contact {
  width: 200px;
  margin: auto;
  padding: 10%;
}

.my-contact a {
  text-decoration: none;
  color: black;
}

.icon-contact {
  display: flex;
  justify-content: center;
  font-size: 35px;
  padding: 10px;
  position: relative;
}

.icon-contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid transparent;
  border-radius: 50px;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.icon-contact:hover::before {
  /* Efek hover untuk pseudo-element ::before */
  border-color: black;
}

.icon-contact:hover {
  background-color: #ccc;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.icon-contact:active {
  background-color: black;
}

.whatsapp .icon-contact {
  color: rgb(54, 199, 73);
}

.form-container {
  width: 50%;
  height: auto;
}

.form {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
textarea {
  margin: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  font-size: 20px;
  width: 370px;
  height: 50px;
  border: 1px solid #ccc;
  color: black;
  border-radius: 8px;
  padding: 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

form textarea {
  height: 150px;
  resize: vertical;
}

button:hover {
  background-color: #929292;
}

button:active {
  background-color: white;
  color: black;
}
/* CONTACT END */

/* FOOTER START*/
footer {
  padding: 6% 0;
  text-align: center;
}
/* FOOTER END*/
